{% extends 'base.html' %}
{% block title %}Excluir disciplina{% endblock %}
{% block content %}

    <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th colspan="2">{{ disciplina.nome }}</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                <td>I unidade</td>
                </td><td>{{ disciplina.nota1 }}</td>
            </tr>
            <tr>
                <td>II unidade</td>
                <td>{{ disciplina.nota2 }}</td>
            <tr>
                <td>III unidade</td>
                <td>{{ disciplina.nota3 }}</td>
            </tr>
            </tbody>
          </table>
      </div>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Excluir"> ou <input type="button" value="Cancelar" onclick="window.location='/'"/>
</form>

{% endblock %}